<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neutech.mapper.BedMapper">
    <select id="selectBedByIdCard" resultType="com.neutech.entity.Bed">
        SELECT
            bed_id as bedId,
            location,
            status,
            user_id as userId
        FROM
            bed
        WHERE
            user_id = #{idCard}
    </select>
</mapper>