<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neutech.mapper.UserMapper">
    <!-- 继承BaseMapper提供的基本CRUD操作 -->

    <!-- 自定义根据身份证号查询用户的方法 -->
    <select id="selectByIdCard" resultType="com.neutech.entity.User">
        SELECT
            id_card as idCard,
            name,
            gender,
            password,
            birth_date as birthDate,
            family_phone as familyPhone,
            is_in as isIn,
            balance
        FROM
            user
        WHERE
            id_card = #{idCard}
    </select>

    <!-- 自定义更新方法(如果需要) -->
    <update id="updateUserCustom">
        UPDATE
            user
        SET
            name = #{et.name},
            gender = #{et.gender},
            password = #{et.password},
            birth_date = #{et.birthDate},
            family_phone = #{et.familyPhone},
            is_in = #{et.isIn},
            balance = #{et.balance}
        WHERE
            id_card = #{et.idCard}
    </update>
</mapper>